<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    The world is your oyster.
    <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs">docs</a> will be your guide.</p>
    <ion-button (click)="testPlugin()" color='primary' size="large">Test Plugin</ion-button>
    <p class="populate hidden">
      Storing data successful
    </p>
    <p class="iskey hidden">
      Iskey successful
    </p>
    <p class="keys hidden">
      Get keys successful
    </p>
    <p class="values hidden">
      Get values successful
    </p>
    <p class="keysvalues hidden">
      Get keys/values successful
    </p>
    <p class="remove hidden">
      Remove key successful
    </p>
    <p class="clear hidden">
      Clear keys successful
    </p>
    <p class="success1 display">
      The test 1 was successful
    </p>
    <p class="failure1 display">
      The test 1 failed
    </p>
    <p class="success2 display">
      The test 2 was successful
    </p>
    <p class="failure2 display">
      The test 2 failed
    </p>
    <p class="success3 display">
      The test 3 was successful
    </p>
    <p class="failure3 display">
      The test 3 failed
    </p>
    <p class="success display">
      The set of tests was successful
    </p>
    <p class="failure display">
      The set of tests failed
    </p>
  </div>
</ion-content>
